<%- include('layout/header') %>
<div class="container">
    <div class="row my-4">
        <div id="hero_container" class="col-lg-12">
            <h1 class="hero_title">Welcome to the Movie API</h1>
            <img src="Japanese garden.png" alt="home-page-image"/>
            
        </div>
    </div>
</div>
<% if (typeof token !== 'undefined' && token) { %>
  <script>
    let jpToken = "<%= token %>";
    if (jpToken) {
      localStorage.setItem('jpToken', jpToken);
    }
  </script>
<% } %>
<%- include('layout/footer') %>